
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Slab:wght@300;700&display=swap');

* {box-sizing: border-box}
body {
  font-family: "Arimo", sans-serif;
}
/* Reference for build https://github.com/aam198/3_col_card/blob/master/styles/main.css */

:root{
  --base-color: #334d66;
  --primary-blue: #7aa4c4;
  --primary-yellow: #fad18e;
  --primary-red: #e08b7d;
  --primary-green: #659B5E;
  --primary-purple: #A879C3;
  --dark-accent: #10263e;
  --light-accent: #f1e7d6;
  --white: #ffffff;

  --light-bg: #f0f4f9;
  --width: calc(100% /5);
}


.wrapper-container{
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  height: auto;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  max-width: 1400px;
  /* https://codepen.io/aam198/pen/bGRYwjJ */
}

span[class~="sr-only"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}

/* Style the tab */
.tab {
  /* TODO: bring border back in? */
  /* border: 1px solid #ccc; */
  background-color: #f0f4f9;
  color: var(--dark-accent);
  width: 25%;
  min-width: 12rem;
  /* height: 325px; */
  height: auto;
  border-radius: 0.5rem;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: var(--dark-accent);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  position: relative;
}

/* Change background color of buttons on hover */
.tab button:hover, .tab button:focus {
  background-color: var(--base-color);
  color: var(--white);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: var(--base-color);
  color: var(--white);
  font-weight: bold;
}

.tab button.active::after{
	position: absolute;
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid var(--base-color);
  top: 100%;
  right: 50%;
  z-index: 1000;
}

.tab button.active:last-child::after{
  content: '';
  border: 0;

}
/* Style the tab content */
.tabcontent { 
  /* border: 1px solid #ccc; */
  width: 95%;
  border-left: none;
  height: auto;
}
/* 
.tabcontent.viewContent{
  width: 100%;
  display: flex;
  flex-direction: column;
} */


.tabcontent > .viewContent {
  display: flex;
  gap: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  /* justify-content: center; */
}

.viewContent > div {
  /* width: var(--width); */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  /* border: 1px solid #c0c3c7; */
  margin-left:2px;
  height: auto;
  background-color: var(--white);
}


.viewContent h4 {
  color: var(--dark-accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px;
  /* min-height: 6vh;
  max-height: 7.2vh; */
  padding: 15px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5px
}

.viewContent > div >  p {
  padding: 8px;
}

.occupational h4{
  background-color: var(--primary-yellow);
}

.group h4{
  background-color: var(--primary-blue);
}

.leadership h4{
  background-color: var(--primary-red);
}

.process h4{
  background-color: var(--primary-green);
}

.organization h4{
  background-color: var(--primary-purple);
}


#content1{
  text-align: center;
}

ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 25px;
  /* Take out */
  max-width: 14rem;
}

ul li{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.5rem;
}

/* Media Query */
/* https://web.dev/one-line-layouts/ */
/* 
.tabcontent > .viewContent {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* justify-content: center; 
}

.viewContent > div {
  flex: 0 1 200px;
  width: var(--width);
  border: 1px solid red;
} */