
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Slab:wght@300&display=swap');

* {box-sizing: border-box}
body {
  font-family: "Arimo", sans-serif;
}
/* Reference for build https://github.com/aam198/3_col_card/blob/master/styles/main.css */

:root{
  --base-color: #3a5c89;
  --primary-blue: #7aa4c4;
  --primary-yellow: #fad18e;
  --primary-red: #973b5c;
  --primary-green: #659B5E;
  --primary-purple: #5F506B;
  --dark-accent: #10263e;
  --light-accent: #f1e7d6;

  --light-bg: #f0f4f9;
  --width: calc(100% /5);
}

h4{
  font-family: 'Roboto Slab', serif;
}

.wrapper-container{
  height: auto;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

span[class~="sr-only"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}

/* Style the tab */
.tab {
  /* float: left; */
  border: 1px solid #ccc;
  background-color: #f0f4f9;
  color: var(--dark-accent);
  width: 25%;
  /* height: 325px; */
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: var(--dark-accent);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover, .tab button:focus {
  background-color: #3a5c89;
  color: #ede1cd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #3a5c89;
  color: #ede1cd;
}

/* Style the tab content */
.tabcontent { 
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  height: auto;
}
/* 
.tabcontent.viewContent{
  width: 100%;
  display: flex;
  flex-direction: column;
} */


.tabcontent > .viewContent {
  display: flex;
  gap: 5px;
  /* justify-content: center; */
}

.viewContent > div {
  width: var(--width);
  border: 1px solid red;
}


.viewContent h4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.viewContent > div >  p {
  padding: 8px;
}

.occupational h4{
  background-color: var(--primary-blue);
  margin: 0;
  padding: 0;
  height: 7vh;
}



